@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonte/static/RobotoMono-Regular.ttf') format('truetype');
}

body h1,p
h2,
h3,
h4,
h5,
h6 {
  font-family: "RobotoMono";
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fundo-primario{
  background-color: #404449;
  color: rgb(255, 255, 255);
}


